.md-btn {
  border-radius: .5rem;
  display: inline-block;
  font-family: $font-block;
  font-weight: bold;
  text-align: center;
  transition: all .3s ease-out;
}

.md-btn--style01 {
  padding: 1rem 4.5rem;
  background-color: $base-bl;
  border: 1px solid $base-bl;
  font-size: 1.4rem;
  color: $base-wh;

  @media screen and (max-width: 768px) {
    padding: .8rem 3rem;
    font-size: 1.4rem;
  }

  &:hover {
    transition: all .3s ease-out;
    background-color: $base-wh;
    color: $base-bl;
  }
}

.md-btn--style02 {
  padding: 1.2rem 6rem;
  background-color: $base-color;
  border: 1px solid $base-color;
  font-size: 1.6rem;
  color: $base-wh !important;

  @media screen and (max-width: 768px) {
    padding: .8rem 5rem;
    font-size: 1.4rem;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    width: 1.6rem;
    height: auto;
    path {
      fill: $base-wh;
      transition: all .3s ease-out;
    }
  }

  &:hover {
    transition: all .3s ease-out;
    background-color: $base-wh;
    color: $base-color !important;

    svg {
      path {
        transition: all .3s ease-out;
        fill: $base-color;
      }
    }
  }
}

.md-btn--style03 {
  padding: 1rem 4rem;
  background-color: $base-bl;
  border: 1px solid $base-bl;
  font-size: 1.4rem;
  color: $base-wh;

  &:hover {
    background-color: $base-wh;
    color: $base-bl;
  }
}
